[Desktop Entry]
Type=Application
Name=Bottles
Comment=Run any other Windows program or game
Exec=flatpak run com.usebottles.bottles
Icon=com.usebottles.bottles
Terminal=false
Categories=Snormium;
