[Desktop Entry]
Name=Security Center
Comment=See whether your computer is protected
Exec=snormium-security-center
Icon=snormium-security
Terminal=false
Type=Application
Categories=System;Settings;Security;
Keywords=firewall;updates;secure boot;encryption;apparmor;
