[Desktop Entry]
Name=Recovery Center
Comment=Restore points, backups and repair
Exec=snormium-recovery-center
Icon=snormium-recovery
Terminal=false
Type=Application
Categories=System;Settings;
