[Desktop Entry]
Name=Welcome Center
Comment=Get started with Snormium
Exec=snormium-welcome
Icon=snormium-logo
Terminal=false
Type=Application
Categories=System;
