# Snormium RetroArch defaults (Flatpak). Only deviations from upstream defaults.
video_driver = "vulkan"
video_vsync = "true"
video_frame_delay_auto = "true"
video_scale_integer = "false"
aspect_ratio_index = "22"
video_shader_enable = "false"
video_smooth = "false"
audio_driver = "pipewire"
audio_latency = "64"
input_autodetect_enable = "true"
menu_driver = "ozone"
core_updater_buildbot_cores_url = "https://buildbot.libretro.com/nightly/linux/x86_64/latest/"
system_directory = "@HOME@/Games/Emulation/bios"
savefile_directory = "@HOME@/Games/Emulation/saves"
savestate_directory = "@HOME@/Games/Emulation/states"
screenshot_directory = "@HOME@/Games/Emulation/screenshots"
rgui_browser_directory = "@HOME@/Games/Emulation/roms"
savestate_auto_save = "true"
savestate_auto_load = "true"
rewind_enable = "false"
run_ahead_enabled = "false"
